body {
	font-family: Helvetica;
	font-size: 14px;
	background-color: #16161f;
	scrollbar-color: #eeaaff rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
	width: auto;
	height: auto;
}
 
::-webkit-scrollbar-thumb {
	background: #eeaaff; 
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0.15); 
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 160px;
	height: 160px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 128px;
	height: 128px;
	margin: 0px;
	border: 12px solid #2c6aa5;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #2c6aa5 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.no-border,
.no-border > .ui-datatable-header,
.no-border > .ui-widget-header,
.no-border > .ui-widget-footer,
.ui-widget-content.no-border tr,
.ui-widget-content.no-border td,
.ui-datatable.no-border th,
.ui-datatable.no-border tbody,
.ui-datatable.no-border tbody tr,
.ui-datatable.no-border tbody td {
	border: none !important;
	border-radius: 0;
}

.no-spacing,
.ui-layout-unit .ui-layout-unit-content {
	margin: 0 !important;
	padding: 0 !important;
	background-color: #16161f;
}

.no-padding,
.no-padding > .ui-panel-content {
	padding: 0 !important;
}

.no-overflow,
.no-overflow > .ui-widget-content {
	overflow: hidden;
}

.no-wrap {
	white-space: nowrap;
}

.align-top {
	vertical-align: top;
	height: 1px;
}

.ten-percent {
	width: 10%;
}

.twenty-percent {
	width: 20%;
}

.thirty-percent {
	width: 30%;
}

.fourty-percent {
	width: 40%;
}

.fifty-percent {
	width: 50%;
}

.sixty-percent {
	width: 60%;
}

.seventy-percent {
	width: 70%;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.layout-container {
	position: inherit !important;
	min-width: 400px;
	min-height: 200px;
}

.search-container > .ui-chips-container,
.search-container > .ui-chips-container > .ui-chips-input-token,
.search-container > .ui-chips-container > .ui-chips-input-token > input {
	width: 100%;
}

.navigation {
	display: grid;
	grid-template-columns: repeat(auto-fit, 136px);
	padding: 3px;
}

.navigation-item {
	text-align: center;
	width: 130px;
	height: 80px;
	margin: 3px;
	padding: 5px;
}

.navigation-item > .ui-icon {
	display: contents;
	font-size: 4em;
	padding: 5px;
}

.navigation-item > .ui-button-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 5px;
}

.ui-breadcrumb {
	background: none;
	border: none;
	box-sizing: content-box;
	padding: 5px;
}

.ui-breadcrumb > ul > li > a,
.ui-breadcrumb > ul > li > span {
	color: #eeaaff;
	text-decoration: none;
	display: flex !important;
}

.ui-tree-draghelper {
	pointer-events: none;
}

.ui-tree-droppoint {
	background-color: #16161f;
	width: 200px;
	height: 6px;
	margin: 3px;
}

.ui-treenode-label .fa-th-large,
.ui-contextmenu .fa-th-large,
.ui-breadcrumb .fa-th-large,
.navigation-item .fa-th-large {
	color: plum;
}

.ui-treenode-label .fa-folder-open,
.ui-contextmenu .fa-folder-open,
.ui-breadcrumb .fa-folder-open,
.navigation-item .fa-folder-open {
	color: moccasin;
}

.ui-treenode-label .fa-file,
.ui-contextmenu .fa-file,
.ui-breadcrumb .fa-file,
.navigation-item .fa-file {
	color: skyblue;
}

.ui-treenode-label .fa-share-alt,
.ui-contextmenu .fa-share-alt,
.ui-breadcrumb .fa-share-alt,
.navigation-item .fa-share-alt {
	color: lightsalmon;
}

.ui-chips-input-token > .ui-widget {
	color: #ffffff;
}

.editor-header {
	padding: 8px;
	border: 1px solid #444444;
	border-bottom: none;
}

.ql-editor > p > a {
	color: #eeaaff !important;
}

.ql-formats > .ql-snow.ql-toolbar button:hover .ql-stroke {
	stroke: #ffffff !important;
}

.text-editor > .ql-snow {
	border: 1px solid #444444;
}

.text-editor > .ql-snow .ql-stroke {
	stroke: #ffffff !important;
}

.text-editor > .ql-snow.ql-toolbar button:hover .ql-stroke,
.text-editor > .ql-snow .ql-toolbar button:hover .ql-stroke,
.text-editor > .ql-snow.ql-toolbar button:focus .ql-stroke,
.text-editor > .ql-snow .ql-toolbar button:focus .ql-stroke,
.text-editor > .ql-snow.ql-toolbar button.ql-active .ql-stroke,
.text-editor > .ql-snow .ql-toolbar button.ql-active .ql-stroke,
.text-editor > .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.text-editor > .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.text-editor > .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.text-editor > .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.text-editor > .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.text-editor > .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.text-editor > .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.text-editor > .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.text-editor > .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.text-editor > .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.text-editor > .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.text-editor > .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.text-editor > .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.text-editor > .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.text-editor > .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.text-editor > .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.text-editor > .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.text-editor > .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.text-editor > .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.text-editor > .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.text-editor > .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.text-editor > .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
	stroke: #eeaaff !important;
}

.text-editor > .ql-snow .ql-fill {
	fill: #ffffff !important;
}

.text-editor > .ql-snow.ql-toolbar button:hover .ql-fill,
.text-editor > .ql-snow .ql-toolbar button:hover .ql-fill,
.text-editor > .ql-snow.ql-toolbar button:focus .ql-fill,
.text-editor > .ql-snow .ql-toolbar button:focus .ql-fill,
.text-editor > .ql-snow.ql-toolbar button.ql-active .ql-fill,
.text-editor > .ql-snow .ql-toolbar button.ql-active .ql-fill,
.text-editor > .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.text-editor > .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.text-editor > .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.text-editor > .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.text-editor > .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.text-editor > .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.text-editor > .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.text-editor > .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.text-editor > .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.text-editor > .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.text-editor > .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.text-editor > .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.text-editor > .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.text-editor > .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.text-editor > .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.text-editor > .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.text-editor > .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.text-editor > .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.text-editor > .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.text-editor > .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.text-editor > .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.text-editor > .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
	fill: #eeaaff !important;
}

.text-editor > .ql-snow .ql-picker-label {
	color: #ffffff !important;
}

.text-editor > .ql-snow.ql-toolbar button:hover,
.text-editor > .ql-snow .ql-toolbar button:hover,
.text-editor > .ql-snow.ql-toolbar button:focus,
.text-editor > .ql-snow .ql-toolbar button:focus,
.text-editor > .ql-snow.ql-toolbar button.ql-active,
.text-editor > .ql-snow .ql-toolbar button.ql-active,
.text-editor > .ql-snow.ql-toolbar .ql-picker-label:hover,
.text-editor > .ql-snow .ql-toolbar .ql-picker-label:hover,
.text-editor > .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.text-editor > .ql-snow .ql-toolbar .ql-picker-label.ql-active,
.text-editor > .ql-snow.ql-toolbar .ql-picker-item:hover,
.text-editor > .ql-snow .ql-toolbar .ql-picker-item:hover,
.text-editor > .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.text-editor > .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
	color: #eeaaff !important;
}

.inherit-tree-overflow > .ui-tree-container {
	overflow: inherit !important;
}

.project-board {
	display: inline-flex;
}

.project-board > .ui-dashboard-column {
	width: 210px;
	margin-right: 5px;
	margin-left: 5px;
	padding-bottom: 50px;
	background: #101019 !important;
}

.project-board-header > .ui-dashboard-column  {
	padding: 0;
}

.project-board > .ui-dashboard-column > .ui-panel {
	margin: 5px;
	margin-bottom: 0px;
}

.project-board > .ui-dashboard-column > .ui-sortable-placeholder {
	margin: 5px;
	margin-bottom: 0px;
}

.project-board-title {
	font-size: 14px !important;
	text-align: center;
	background: #101019 !important;
}

th,
.purple-bg-light,
.purple-bg-light > .ui-layout-unit-content {
	background: #705296 !important;
}

.purple-bg-gradient,
.purple-bg-gradient > .ui-layout-unit-content {
	background: linear-gradient(to right, #705296, #2c6aa5) !important;
}

.purple-bg-dark,
.purple-bg-dark > .ui-layout-unit-content {
	background: #291e38 !important;
}

.transparent-bg,
.transparent-bg > .ui-layout-unit-content {
	background: transparent !important;
}

.gray-bg,
.gray-bg > .ui-layout-unit-content,
.gray-bg > tbody > tr,
.ui-datatable-data > tr {
	background: #16161f !important;
}

.gray-bg-dark,
.gray-bg-dark > .ui-layout-unit-content,
.text-editor > .ql-snow > .ql-formats > .ql-picker > .ql-picker-options {
	background: #101019 !important;
}

.ui-datatable-data > tr:nth-child(even) {
	background: #101019 !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	padding-right: 25px;
}
